/*----------ESCONDER SOCIAL EMDIA ICONS PARA NAO SOBREPOR HEADER-----------*/
@media (max-width: 900px) {
    .social-links {
        display: none;
    }
}

/*-------------HEADER INVERSÃO DE COR------------*/
header {
    padding: 20px;
    transition: background-color 0.6s;
}

header:hover {
    background-color: #333;
}

header:hover a {
    color: white;
}

header:hover img {
    filter: invert(1);
}

/*--------------------HEADER---------------------*/
header ul {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

header li {
    font-size: 25px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: -50px;
    margin-bottom: -40px;
    margin-top: -30px;
}

.nav-links img {
    width: 150px;
}

.social-links {
    position: absolute;
    right: 50px;
}

.social-links img {
    width: 20px;
}

/*-----------------------*/

h1 {
    text-align: center;
    font-size: 65px;
}

/*----------FOOTER------------*/

footer ul {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

footer li {
    font-size: 30px;
}

.social-links2 img {
    width: 17px;
    margin-bottom: 20px;
}

.nav-links2 {
    width: auto;
    margin-bottom: 20px;
}

footer p {
    text-align: center;
    font-size: 15px;
}

/*-------------FOOTER INVERSÃO DE COR------------*/
footer {
    padding: 20px;
    transition: background-color 0.6s;
}

footer:hover {
    background-color: #333;
}

footer:hover a {
    color: white;
}

footer:hover img {
    filter: invert(1);
}